{% extends "base.html" %}
{% block index %}
    <div id="page_wrapper">
        <div id="path_information" class="information_div">Informações de Percurso
            <!--<p id="time_counter">0.00s</p>-->
        </div>
        <div id='message_div'>
            <div id='break_div' class="col-md-6 ">
                <div id="break_title" style="text-align: center">Break Analysis</div>
                <div id="break_messages" class="message_div "></div>
                <div id="break_chart_container" class="display-none"  style="height: 400px"></div>
            </div>
            <div id='gear_div' class="col-md-6 ">
                <div id="gear_title"style="text-align: center">Gear Analysis</div>
                <div id="gear_messages" class="message_div"></div>
                <div id="gear_chart_container" class="display-none" style="height: 400px"></div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function (){
        initialize_index();
     });
</script>
{% endblock %}


