{% extends "base.html" %}
{% block index %}
    <div id="page_wrapper">
        <div id="path_information" class="information_div">Testando informações
        </div>
        <table class="content_table" >
            <tr>
            </tr>
            <tr>
                <td class="message_td">Break Analysis
                    <div id="break_messages" class="message_div">
                    </div>
                </td>
                <td class="message_td"> Gear Analysis
                    <div id="gear_messages" class="message_div">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Messages">
    </div>
    <script>1
    $(document).ready(function (){
        getNewMessages();
     });
    </script>
{% endblock %}
