.content_table {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.message_td {
    width: 20%;
    height: 50%;
}

.information_td {
    width: 100%;
    height: 50%;
}

.information_div {
    border-radius: 10px;
    border: 2px solid #73ADB7;
    padding: 15px;
    margin: 30px;
}

.message_div {
    border-radius: 10px;
    border: 2px solid #73ADB7;
    padding: 15px;
    margin: 15px;
    height: 185px;
    overflow-y: scroll;
    font-size: 10px;
    text-align: left;
}